<footer>
    <div class="flex_footer">
        <div class="socialicons">
            <p>Social Link</p>
            <ul>
                <li><a href="#">facbook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">twitter</a></li>
                <li><a href="#">Google</a></li>
            </ul>
        </div>
        <div class="locations">
            <p>Location</p>
            <ul>
                <li>Kimathis-street(block 3)</li>
                <li><a href="">Location</a></li>
            </ul>
        </div>
        <div class="newslaterform">
            <form action="" method="post">
                <p>signup to our newslatter to get updated when we add something new.</p>
                <div class="form-group">
                    <label for="newslater">Email Adress</label>
                    <input type="text" name="newslater" id="newslater" required class="form-control shadow-none" placeholder="Enter email adress">
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign-Up" id="submitbtn" class="btn text-light">
                </div>
            </form>
        </div>
    </div>
    <div class="down">&copy;copyright2022 | all rights reserved</div>
</footer>
