<nav>
    <div class="logo"><a routerLink=""><button class="btn shadow-none">B.A.M</button></a></div>
    <div class="nav_links">
            <a routerLink=""><button class="btn">Home</button></a>
            <a routerLink="/menu"><button class="btn">Menu</button></a>
            <a routerLink="/cart"><button class="btn">Cart</button></a>
            <a routerLink="/orders"><button class="btn">History</button></a>
            <a routerLink="/login"><button class="btn loginbtn">Login</button></a>
    </div>
</nav>
