<app-navbar></app-navbar>
<div style="height: calc(100vh - 200px);" class="container">
    <div class="content">
        <div class="current_tab">Order History /</div>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Meal Option</th>
                    <th>Quantity</th>
                    <th>Date</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>{{order.id}}</td>
                    <td>{{order.menu_id.meal}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.order_date|date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container">
<div *ngFor="let order of userOrders">

    <div class="row">

        <div class="col">{{order.order_ref}}</div>
        <div class="col">{{order.order_total_price}}</div>
        <div class="col">{{order.order_status}}</div>

    </div>

    <div *ngFor="let item of order.order_items" class="row">

        <p></p>
    </div>

</div>
</div>
<app-footer></app-footer>