<div class="container">
    <div class="content">
        <div class="current_tab">Order History /</div>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Meal Option</th>
                    <th>Quantity</th>
                    <th>Date</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>{{order.id}}</td>
                    <td>{{order.menu_id.meal}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.order_date|date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>