<div class="loginforms">
    <div class="login_text">Login</div>
    <p>Welcome back to B.A.M, login to reserve a meal</p>
    <form action="" method="post">
        <div class="form-group">
            <label for="useremail">Email Adress</label>
            <input type="email" name="useremail" id="useremail" autocomplete="off"  class="form-control shadow-none" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password"  autocomplete="off" class="form-control shadow-none" placeholder="Enter password">
        </div>
        <div class="form-group flex_links">
            <a routerLink="/signup">Dont have account?</a> <a routerLink="/resetpassword">Forget password?</a>
        </div>
        <div class="form-group">
            <input type="submit" value="Login" id="submitbtn" class="btn text-light">
        </div>
    </form>
</div>
