.landing_page{
    background-image: url(../../assets/images/mealbg1.jpg);
    background-size: 100% 100%;
    height: 500px;
    position: relative;
}
.landing_page .texts{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
    padding: 50px  30px;
}
.landing_page .texts .text{
    font-size: 1.9rem;
    color: #FFFFFF;
}
.gotomenu button{
    background-color: #91972A;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    padding-left: 17px;
    padding-right: 17px;
}
.scrolldown{
    width: 50px;
    margin: auto;
    margin-top: 70px;
}